Guten Tag {{u.displayName}}

Sie wurden in der CSSR Applikation registriert können können sich nun dort unter https://www.cs.technik.fhnw.ch/wodss17-6/index.html/invitemail#tempToken={{u.tempToken}} anmelden.

Freundliche Grüsse
CSSR Team 