Liebe Studierende der Informatik/iCompetence und liebe Angehörige der Informatikinstitute,  

Am nächsten {{date}} findet um {{time}} das CS-Seminar zum Thema "{{title}}" im {{location}} statt.   
Bitte melden Sie sich für diesen Anlass bis {{subsdeadline}} über folgenden Link an: http://86.119.37.179/?PresentationId={{presentationId}}  

Beste Grüsse Christoph Denzler 