[Unit]
Description=cssr
After=syslog.target

[Service]
User=cssr
ExecStart=/var/cssr/web/start.sh
# SuccessExitStatus=143
WorkingDirectory=/var/cssr/web/

[Install]
WantedBy=multi-user.target
